{% load static %}

<!DOCTYPE html>
<html lang="ru">

<meta charset="utf-8">

<title>3D моделирование</title>

<head>
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap" rel="stylesheet">
    <script src="script.js"></script>
</head>

<body>
    <a href="#" class="back-to-top">В начало</a>
    <header>
        <div class="header login-form">


            <form action="login/">
            {% if user.is_authenticated %}
    <button class="login-button"><span><a href="{% url 'users:logout' %}">ВЫЙТИ</a></span></button>
{% else %}
    <button class="login-button"><span><a href="{% url 'users:login' %}">ВОЙТИ</a></span></button>
{% endif %}
            </form>


        </div>
        <nav class="header menu">
            <ul>
                <li><a href="">ГЛАВНАЯ</a></li>
                {% if user.is_authenticated %}
                <li><a href="page2">ТУТОРИАЛ 1</a></li>
                {% else %}
                <li><a href="unauthorized">ТУТОРИАЛ 1</a></li>
                {% endif %}

                {% if user.is_authenticated %}
                <li><a href="page3">ТУТОРИАЛ 2</a></li>
                {% else %}
                <li><a href="unauthorized">ТУТОРИАЛ 2</a></li>
                {% endif %}
                <li><a href="page4">О НАС</a></li>
            </ul>
        </nav>
    </header>
    <div class="wrapper">
        <div class="left-edge"></div>
        <div class="content">
            <h1>Добро пожаловать в мир 3D моделирования!</h1>
            <div class="intro">
                <div class="intro_block">
                    <p>Вы открыли дверь в удивительную область, где ваши идеи становятся<br>
                        реальностью в трехмерном пространстве. 3D моделирование<br>
                        позволяет создавать удивительные визуализации, анимации и<br>
                        макеты, привнося ваши проекты к новым высотам реализма.</p>
                    <img src="{% static 'main/images/image_1.png' %}" alt="Описание картинки">
                </div>
                <p>На этом сайте мы предлагаем вам два интересных туториала, которые помогут вам начать свое погружение
                    в мир трехмерного моделирования:
                    <br>
                    -создание модели <span class="purple-text">шахматной доски</span> с шестью различными фигурами;
                    <br>
                    -создание модели <span class="purple-text">средневекового рыцаря</span>, стилизованного под
                    мультипликационные проекты.
                </p>
            </div>
            <hr>
            <nav>
                <ul class="navigation">
                    <h1>Навигация</h1>
                    <li><a href="#Краткий_экскурс_в_историю"><i class="fas fa-circle">Краткий экскурс в историю</i></a>
                    </li>
                    <li><a href="#Трехмерное_моделирование_на_практике"><i class="fas fa-circle">Трехмерное
                                моделирование на практике</i></a></li>
                    <li><a href="#Полезные_ссылки"><i class="fas fa-circle">Полезные ссылки</i></a></li>
                </ul>
            </nav>

            <hr>
            <div class="history">
                <h1 id="Краткий_экскурс_в_историю">Краткий экскурс в историю</h1>
                <div class="history_block">
                    <img src="{% static 'main/images/image_2.png' %}" alt="Описание картинки">
                    <p>Первую кафедру компьютерной графики, в Университете Юты, открыли в 1960-х годах Айван Сазерленд и
                        Дэвид
                        Эванс. Сазерленд создал программу, которая являлась прообразом всех современных 3D-редакторов и
                        CAD-систем —
                        Sketchpad.</p>
                </div>
                <p>Первым полнометражным анимационным фильмом, полностью созданном в 3D редакторах и программах
                    трехмерной
                    анимации считается “История игрушек” от студии Pixar Animation Studios. Технический директор Pixar
                    до
                    работы на
                    студии работал на кафедре компьютерной графики Университета Юты.
                    <br>Но «История игрушек» вышла на экраны в 1995 году, а премьера первого фильма с использованием
                    отдельных
                    элементов трехмерной графики (Futureworld) состоялась еще в 1976-м. В то же время создавались первые
                    программы
                    3D-моделирования, первые алгоритмы трассировки лучей для рендеринга трехмерной сцены и активно
                    развивался
                    полигональный метод моделирования трехмерных объектов, который сейчас является основным.
                </p>
                <div class="history_image_block">
                    <img src="{% static 'main/images/image_3.png' %}" alt="Описание картинки">
                    <img src="{% static 'main/images/image_4.png' %}" alt="Описание картинки">
                </div>
                <p><span class="purple-text">Интересный факт:</span><br>В середине 1980-х появились первые
                    стандарты и адаптеры для обработки двумерной
                    графики
                    —
                    MGA, CGA, EGA. Сейчас это кажется странным, но в начале 1980-х палитра в 16 цветов была пределом
                    мечтаний для
                    любителей компьютерной графики, да и из этой палитры можно было одновременно использовать только 4
                    цвета
                    для
                    вывода изображения. А разрешения экранов вообще измерялись не пикселями, как сейчас, а строками, так
                    как
                    в то
                    время еще не стояла остро задача выводить изображения на дисплей.
                </p>
                <div class="history_text_block">
                    <p>Все открытия, которые были сделаны в математике до XX века, так или иначе являются базисом
                        современной
                        трехмерной графики</p>
                </div>
                <p>Но время шло, на смену видеоадаптерам пришли комбинации в виде адаптера и 3D-ускорителя, отвечающего
                    исключительно за обработку трехмерных объектов, потом эти разные по классу устройства объединились в
                    одно —
                    видеокарту, обрабатывающую сразу и 2D-, и 3D-графику. К классическим обработчикам графической
                    информации
                    добавились специальные обработчики шейдеров — микропрограмм, которые сейчас отвечают за обработку
                    большинства довольно сложных визуальных эффектов (бликов, дыма, отражений).</p>
                <p>В 1998 году частоты, на которых работала память видеокарты, были в сто раз меньше, чем сейчас; объем
                    памяти
                    за это время вырос практически в тысячу раз. Про производительность даже говорить не приходится —
                    видеокарты
                    конца 90-х не могут решить и малой доли задач, которые современные видеокарты выполняют сотни раз в
                    секунду.</p>
                <p>Но в основе этого прогресса, да и самой идеи передачи трехмерного изображения, лежат научные
                    открытия,
                    сделанные даже не десятки, а сотни и тысячи лет назад. Без геометрии и функций невозможно задать
                    поверхность в
                    пространстве, без описания поверхности невозможно создать ее представление в компьютерной графике с
                    помощью
                    кривых, полигонов или вокселей. Все открытия, которые были сделаны в математике до XX века, так или
                    иначе
                    являются базисом современной трехмерной графики.</p>
                <p>Прогресс техники и технологий привел к тому, что в современной видеокарте более 4 миллиардов
                    транзисторов.
                    Техпроцесс, по которому сейчас создаются видеокарты, — 20 нанометров. Это в сотни раз меньше, чем
                    толщина
                    волоса. Мы дошли до следующего этапа развития вычислительных систем — начали придумывать задачи, не
                    связанные с обработкой трехмерной графики, чтобы загружать вычислительные мощности видеокарт в
                    свободное
                    время. Были
                    созданы особые спецификации и языки для работы с многопоточными многоядерными системами, которыми
                    являются современные видеокарты.</p>
                <p>Современные вычислительные мощности, используемые в этих проектах, являются прямым результатом
                    эволюции
                    человеческой мысли, трудов сотен философов, математиков и инженеров.</p>
                <div class="history_text_block">
                    <p>Интересно, могли ли Евклид, Декарт и Эйлер представить, какой технологический прорыв готовят их
                        открытия?
                        Могли ли вообразить, что люди создадут экран, с которого мы читаем этот текст, и технику,
                        которая
                        обрабатывает и
                        выводит символы и изображения?</p>
                </div>
            </div>

            <hr>
            <div class="modeling">
                <h1 id="Трехмерное_моделирование_на_практике">Трехмерное моделирование на практике</h1>
                <div class="modeling_block">
                    <div class="modeling_block_left">
                        <h2>Архитектура и дизайн интерьера</h2>
                        <p>Современные архитектурные бюро повсеместно используют визуализацию при создании проекта.
                            Теперь
                            каждый
                            может
                            увидеть свой будущий дом или интерьер на изображениях, созданных на компьютере.</p>
                        <img src="{% static 'main/images/image_5.png' %}" alt="Описание картинки">
                    </div>
                    <div class="modeling_block_right">
                        <h2>Анимация</h2>
                        <p>В современной индустрии анимации специалисты создают 3D модель, настраивают текстуры,
                            выставляют
                            свет.
                            Дело остается за малым: компьютер сам рассчитывает тени, блики, свет и многое другое</p>
                        <img src="{% static 'main/images/image_6.png' %}" alt="Описание картинки">
                    </div>
                    <div class="modeling_block_left">
                        <h2>Предметный дизайн</h2>
                        <p>Современных конструкторов, инженеров и технологов уже редко встретишь в КБ с логарифмическими
                            линейками и
                            штангенциркулями. Благодаря 3D технологиям материальные затраты и время на разработку
                            сократились в
                            разы!</p>
                        <img src="{% static 'main/images/image_7.png' %}" alt="Описание картинки">
                    </div>
                    <div class="modeling_block_right">
                        <h2>Медицина</h2>
                        <p>Каждый человек уникален и именно 3D моделирование позволяет врачам создавать индивидуальные
                            продукты
                            для
                            каждого пациента: от слуховых аппаратов до протезов. А КТ и МРТ расширяют возможности
                            диагностики и
                            спасают множество жизней!</p>
                        <img src="{% static 'main/images/image_8.png' %}" alt="Описание картинки">
                    </div>
                </div>
            </div>
            <hr>
            <div class="links">
                <h1 id="Полезные_ссылки">Полезные ссылки</h1>

                <div class="container">
                    <div class="container_block">
                        <h2><a href="https://gb.ru/blog/3d-modelirovanie/">3D-моделирование: виды, принципы,
                                инструменты</a></h2>
                        <p>Статья от одной из крупнейших онлайн школ в сфере IT GeekBrains поможет вам получить
                            начальные
                            теоретические
                            знания в сфере 3D моделирования.</p>
                    </div>
                    <div class="container_block">
                        <h2><a
                                href="https://3dcast.ru/%D0%BA%D0%B0%D0%BA-3d-%D0%BC%D0%BE%D0%B4%D0%B5%D0%BB%D0%B8%D1%80%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D0%B5-%D0%BF%D0%BE%D0%BC%D0%BE%D0%B3%D0%B0%D0%B5%D1%82-%D1%81%D0%BE%D0%B7%D0%B4%D0%B0%D1%82%D1%8C-%D1%83/">Как
                                3D моделирование помогает создать уникальные изделия?</a></h2>
                        <p>В этой статье вы сможете подробнее узнать о том, почему все больше сфер человеческой жизни
                            используют 3D
                            моделирование.</p>
                    </div>
                </div>
                <div class="container_block_combined">
                    <h2>Видеоурок для новичка в сфере 3D моделирования:</h2>
                    <div style="text-align: center;">
                        <iframe width="800" height="450" src="https://www.youtube.com/embed/URAs_fmh-lY" frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-edge"></div>
    </div>

    <footer>
        <span>Не упустите возможность преобразить свои творческие замыслы в впечатляющие 3D произведения и дать
            свободу вашему воображению! Начните свое путешествие в мир 3D моделирования прямо сейчас.</span>
        <div class="colophon">WebWizards 2024</div>
    </footer>

</body>

</html>
