{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/css/page3.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="div1">
        <form action="singin" >
        <button class="button1">Вход</button>
            </form>
    </div>
    <div class="div2">
        <form action="main" >
        <button class="button2_1">
            Главная
        </button>
        </form>
        <form action="page2" >
        <button class="button2_2">
            Туториал 1
        </button>
            </form>
            <form action="page3" >
        <button class="button2_3">
            Туториал 2
        </button>
                </form>
        <form action="page4" >
        <button class="button2_4">
            О нас
        </button>
        </form>
    </div>
    <div class = "div4">
        Проект “Благородный рыцарь”
    </div>
    <div class = "div5">
        <div class="div_5_1">Содержание</div>
        <ul class="ul1">
            <li>Этап  1. Блокинг рыцаря.</li>
            <li>Этап  2. Детализация рыцаря.</li>
            <li>Этап  3. Настройка материалов, света и композиции.</li>
        </ul>
        <hr align="center" width="90%" size="1" color="#fffff" class="hr"/>
        <br />
        <div class="div_5_2">Этап  1. Блокинг рыцаря.</div>
        <p class="p1">Первое, с чего необходимо начать, - это добавление референса в блендер.</p>
        <p class="i1"><img src="{% static 'main/images/knight_1.png' %}" width="50%"></p>
        <p class="p1">Далее переходим к этапу блокинга. 
            Он состоит в том, чтобы каждый объект референса получил свой 3d-прототип, составленный их простых фигур (куб, шар, цилиндр и др.). 
            Для удобства перед тем, как начать создавать тот или иной прототип,
             следует переместить 3d-курсор в центр того объекта, который вы сейчас планируете моделировать, 
             так как именно в нём будут создаваться новые объекты.
        </p>
        <p class="p1">
            Начнём с плаща рыцаря. Первым делом создаём цилиндр. 
            Устанавливаем количество сечений, равное 16 и масштабируем в соответствии с размерами плаща на референсе. 
            После чего в режиме редактирования данного объекта выделяем сперва нижние вершины и с помощью <font color="#3A0470">scale (клавиша s)</font> увеличиваем объём нижней части фигуры. 
            Аналогичным образом уменьшаем объём сверху. 
            Теперь удаляем верхние и нижние поверхности, меняем положение нижних точек фигуры, чтобы они совпадали с краями плаща и создаём дополнительный разрез на фигуре с помощью <font color="#3A0470">лупката (loop cut)</font>. Дополнительный разрез даёт возможность расширить объём фигуры где-то посередине, так как с ним на фигуре появляются новые точки. 
            Подогнав размер создаваемой фигуры под референс, получаем плащ на этапе блокинга.
        </p>
        <p class="i1"><img src="{% static 'main/images/knight_2.png' %}" width="50%"></p>
        <p class="p1">
            Вторым объектом, который мы создадим, будет платформа, на которой стоит рыцарь. 
            Создаём цилиндр и масштабируем его под размеры платформы, после чего создаём <font color="#3A0470">сферу (UV Sphere)</font> и проделываем с ней те же действия. 
            После чего, включив режим редактирования полигонов сферы, удаляем лишние элементы фигуры, а именно нижнюю её половину.
        </p>
        <p class="i1"><img src="{% static 'main/images/knight_3.png' %}" width="50%"></p>
        <p class="p1">
            Третьей создаём пояс рыцаря. Снова создаём цилиндр (либо копируем уже созданный) и масштабируем его под размеры пояса на референсе. 
            Применяя лупкат, добавляем где-то в середине пояса дополнительный разрез на фигуре, и увеличиваем там её объём.
        </p>
        <p class="i1"><img src="{% static 'main/images/knight_4.png' %}" width="50%"></p>
        <p class="p1">
            Далее создаём обруч оружия рыцаря с помощью плоскости. 
            Расположив её параллельно изображению оружия, начинаем подгонять положение точек плоскости под рисунок. 
            Затем с помощью <font color="#3A0470">инструмента экструдирования (extrude)</font> наращиваем форму плоскости, уточняя размещение новых полигонов по рисунку. 
            Теперь создаём куб, который послужит гранью между рукоятью и верхней частью оружия, а за основу рукояти берём цилиндр.
        </p>
        <p class="i1"><img src="{% static 'main/images/knight_5.png' %}" width="50%"></p>
        <p class="i1"><img src="{% static 'main/images/knight_6.png' %}" width="50%"></p>
        <p class="p1">
            Наплечник создаётся из сферы. В режиме редактирования остаётся только ¼ её часть, остальное удаляется. Для добавления необходимой формы применяется экструд. Следующим шагом будет утолщение фигуры. 
            Чтобы этого достичь, выделяем необходимые полигоны и экструдируем их сразу во все стороны с помощью <font color="#3A0470">альтернативного экструда</font>.
        </p>
        <p class="i1"><img src="{% static 'main/images/knight_7.png' %}" width="50%"></p>
        <p class="p1">
            Штаны получаются из куба и двух цилиндров
        </p>
        <p class="i1"><img src="{% static 'main/images/knight_8.png' %}" width="50%"></p>
        <p class="p1">
            Ботинок же наоборот состоит из одного цилиндра и двух кубов. Цилиндр масштабируется по двум осям, исключая ось Z.
        </p>
        <p class="i1"><img src="{% static 'main/images/knight_9.png' %}" width="50%"></p>
        <p class="p1">
            Рукаву перчатки соответствует цилиндр. А самой перчатке поставим в соответствие куб. Добавим на нём разрезов и изменим нужным образом форму. 
            Палец на перчатке сделаем из цилиндра.
        </p>
        <p class="i1"><img src="{% static 'main/images/knight_10.png' %}" width="50%"></p>
        <p class="p1">
            Прототипом головы послужит, конечно же, сфера. Масштабируем этот объект по осям X и Y и удаляем нижнюю половину сферы. 
            Последним этапом остаётся экструдирование дополнительного объёма.
        </p>
        <p class="i1"><img src="{% static 'main/images/knight_11.png' %}" width="50%"></p>
        <p class="p1">
            По образу и подобию с помощью цилиндра создаём шлем. 
            Рог для шлема тоже создаётся при помощи цилиндра, причём его размер подгоняется под самую минимальную точку рога, удаляется нижняя поверхность и за счёт нижних граней экструдятся дополнительные формы. 
            Второй рог отдельно создаваться не будет. 
            С помощью модификатора mirror он будет отзеркален относительно шлема на этапе моделинга и скульптинга.
        </p>
        <p class="i1"><img src="{% static 'main/images/knight_12.png' %}.png" width="50%"></p>
        <p class="p1">
            Лента для оружия создаётся из плоскости и инструмента экструда. Верхняя часть ленты создаётся из куба, так как эта часть объёмная.
        </p>
        <p class="i1"><img src="{% static 'main/images/knight_13.png' %}" width="50%"></p>
        <p class="p1">
            А теперь настало время магии. Источник волшебства будем создавать из <font color="#3A0470">метаболлов (metaball)</font>, так как благодаря им можно легко и быстро имитировать текучие объекты. 
            Выбираем <font color="#3A0470">ball</font>, устанавливаем его размер, а затем копируем его и располагаем в пространстве его копию нужным образом. 
            Для лучше результата помимо шаров можно использовать капсулы.
        </p>
        <p class="i1"><img src="{% static 'main/images/knight_14.png' %}" width="50%"></p>
        <p class="p2">Результат 1-го этапа.</p>
        <p class="i1"><img src="{% static 'main/images/knight_15.png' %}" width="50%"></p>
        <p class="p3">В начало</p>
        <hr align="center" width="90%" size="1" color="#fffff" />
        <div class="div_5_2">Этап  2. Детализация рыцаря.</div>
        <p class="p4">
            На этом этапе нам предстоит детализация созданных ранее объектов путём полигонального редактирования, 
            скульптинга и специальных технологий, позволяющих сглаживать формы.
        </p>
        <p class="p1">
            Начинаем с плаща. В режиме редактирования воспользуемся инструментом <font color="#3A0470">«нож» (knife)</font>, 
            чтобы прорезать на поверхности выбранного объекта нужную форму. 
            После этого можно переходить в режим скульптинга, активировать dyntopo и отображение топологий. 
            Выбрав инструмент <font color="#3A0470">simplify</font> в режиме редактирования сцены начнём уплотнять сетку модели, не меняя её формы. 
            Слегка сгладив форму (достигается при зажатии кнопки shift) и отключив <font color="#3A0470">dyntopo</font>, 
            в режиме <font color="#3A0470">clay</font> добавляем ткани складки. 
            После всего этого применяем <font color="#3A0470">shade</font> smooth для сглаживания поверхности модели.
        </p>
        <p class="i1"><img src="{% static 'main/images/knight_21.png' %}" width="50%"></p>
        <p class="p1">
            Перейдём к оружию и добавим ему толщины. Для этого применим модификатор <font color="#3A0470">solidify</font>, 
            после чего снова воспользуемся ножом, чтобы сделать формы оружия более точными в соответствии с референсом. 
            Для правильного отображения модели рекомендуется многоугольные полигоны разбивать на более простые (такие как треугольники или, максимум, квадраты). 
            Рукоять оружия детализировать при помощи лупката и масштабирования.
        </p>
        <p class="i1"><img src="{% static 'main/images/knight_22.png' %}" width="50%"></p>
        <p class="p1">
            Пояс. Удаляем верхнюю и нижнюю поверхности, вкючаем режим скульптинга (важно на этом этапе не забыть применить <font color="#3A0470">rotation & scale</font>), 
            dyntopo и, смотря на объект ортографическим глазом, уплотняем сетку, сглаживаем форму и добавляем складки. 
            В конце применяем <font color="#3A0470">shade smooth</font> и не забываем экструдить вовнутрь нижние и верхние грани пояса, чтобы придать ему иллюзорный объём.
        </p>
        <p class="i1"><img src="{% static 'main/images/knight_23.png' %}" width="50%"></p>
        <p class="p1">
            Детализация платформы будет включать в себя применение shade smooth к её составляющим. 
            А на цилиндр после <font color="#3A0470">shade smooth</font> накладывается ещё <font color="#3A0470">shade auto smooth</font> и (после удаления нижней и верхней поверхностей) 
            применяются модификаторы <font color="#3A0470">subdivision surface</font> и <font color="#3A0470">solidify</font>.
        </p>
        <p class="i1"><img src="{% static 'main/images/knight_24.png' %}" width="50%"></p>
        <p class="p1">
            К наплечнику применяем <font color="#3A0470">shade auto smooth</font>.
        </p>
        <p class="p1">
            Теперь перейдём к штанам. 
            Необходимо склеить данную составную фигуру, применяя к ней <font color="#3A0470">join</font>, и применить <font color="#3A0470">rotation & scale</font>. 
            После этого шага можно переходить к <font color="#3A0470">remesh</font> и последующему сглаживанию формы с повторным применением remesh для пересчёта топологии. 
            Закончив с этим этапом, переходим к скульптингу. 
            Используя инструменты <font color="#3A0470">clay</font> и <font color="#3A0470">grab</font> и пропорционального редактирования, модифицируем форму штанов. 
            В конце снова применяем <font color="#3A0470">shade smooth</font>.
        </p>
        <p class="i1"><img src="{% static 'main/images/knight_25.png' %}" width="50%"></p>
        <p class="p1">
            По такой же схеме модифицируем ботинок и перчатку (рукав и варежку).
        </p>
        <p class="i1"><img src="{% static 'main/images/knight_26.png' %}" width="50%"></p>
        <p class="p1">
            Шлем. Для начала, удалив некоторые полигоны, вырежем отверстия под глаза. 
            Затем экструдируем два средних полигона. 
            Применяем модификатор <font color="#3A0470">subdivision surface</font>. 
            Модифицируем форму шлема, применяем shade smooth и подключаем модификатор <font color="#3A0470">solidify</font>. 
            На рог также навешиваем модификатор <font color="#3A0470">subdivision surface</font> и применяем <font color="#3A0470">shade smooth</font>. 
            Теперь, когда шлем в целом готов, мы можем удалить его правую половину, 
            чтобы после этого применить модификатор mirror относительно оси Y. 
            Переносим модификатор на первое место в списке применённых модификаторов. 
            А затем навешиваем mirror и на рог, выбрав шлем в качестве mirror object.
        </p>
        <p class="i1"><img src="{% static 'main/images/knight_27.png' %}" width="50%"></p>
        <p class="i1"><img src="{% static 'main/images/knight_28.png' %}" width="50%"></p>
        <p class="p1">
            Переходим к ленте для оружия. Воспользовавшись инструментом <font color="#3A0470">knife</font> делаем надрезы и вырезы в плоскости. 
            Объединяем составляющие, применяем <font color="#3A0470">rotation & scale</font>, 
            удаляем боковые полигоны верхней части ленты, подключаем <font color="#3A0470">dyntopo</font>, 
            после чего в ортографическом режиме начинаем менять топологию сетки нашей ленты и сглаживаем края. 
            Не забываем добавить модификатор <font color="#3A0470">solidify</font>, чтобы придать ткани толщину.
        </p>
        <p class="i1"><img src="{% static 'main/images/knight_29.png' %}" width="50%"></p>
        <p class="p1">
            На очереди голова. Необходимо добавить глаза. Для этого создаём сферу, 
            масштабируем её под нужные пропорции и усаживаем на голову, применяя <font color="#3A0470">shade smooth</font>. 
            Теперь можно скопировать на глаз модификаторы, некогда использованные на шлеме. 
            И появившемся для глаза модификаторе <font color="#3A0470">mirror</font> выбираем голову в качестве <font color="#3A0470">mirror object</font>.
        </p>
        <p class="i1"><img src="{% static 'main/images/knight_30.png' %}" width="50%"></p>
        <p class="p2">
            Итоговый результат 2-го этапа.
        </p>
        <p class="i1"><img src="{% static 'main/images/knight_31.png' %}" width="50%"></p>
        <p class="p3">В начало</p>
        <hr align="center" width="90%" size="1" color="#fffff" />
        <div class="div_5_2">Этап  3. Настройка материалов, света и композиции.</div>
        <p class="p4">
            На этом этапе предстоит сборка всех деталей в единый объект, настроить материалы, выставить свет и камеру.
        </p>
        <p class="p1">
            Чтобы объединить сложный элемент (например, оружие), необходимо выбрать все его составные части 
            (причём последней выбираем главную из них, к которой будут крепиться остальные) и применить к ним <font color="#3A0470">parent object</font>. 
            Таким образом постепенно объединяем все элементы. 
            Элементы типа сапогов, перчаток и наплечников дублируем, чтобы образовались пары, и при необходимости применяем mirror.
        </p>
        <p class="p1">
            К шлему можно применить <font color="#3A0470">shade auto smooth</font>.
        </p>
        <p class="i1"><img src="{% static 'main/images/knight_41.png' %}" width="50%"></p>
        <p class="p1">
            После проделанных операций меняем референс на финальный и подгоняем под него нашу модельку.
        </p>
        <p class="i1"><img src="knight_42.png" width="50%"></p>
        <p class="p1">
            Затем создаём камеру и подключаем camera to <font color="#3A0470">view</font>, чтобы привязать объектив камеры к точке обозрения. 
            Осталось выбрать ракурс по вкусу. 
            Выбрав ракурс, отключаем <font color="#3A0470">camera to view</font>.
        </p>
        <p class="i1"><img src="{% static 'main/images/knight_43.png' %}" width="50%"></p>
        <p class="p1">
            Настройка материалов.
        </p>
        <p class="p1">
            Переходим в режим <font color="#3A0470">viewport shading</font>. Затем находим <font color="#3A0470">material properties</font> 
            и нажимаем кнопку <font color="#3A0470">new</font>. 
            Здесь настраиваем <font color="#3A0470">base color (цвет материала), metallic (металл), specular (параметр, отвечающий за блики), 
            roughness (добавляет шероховатость)</font> и так далее. Настройка материалов – процесс творческий, 
            не упускайте возможность креативно подойти к задаче и создать уникального рыцаря.
        </p>
        <p class="i1"><img src="{% static 'main/images/knight_44.png' %}" width="50%"></p>
        <p class="p1">
            После настройки материалов остаётся добавить «землю», на которой будет находиться наша модель. 
            На эту роль подойдёт обычная плоскость.
        </p>
        <p class="i1"><img src="{% static 'main/images/knight_45.png' %}" width="50%"></p>
        <p class="p1">
            Ну и последнее, чем мы займёмся перед рендером, - это освещение. Создадим <font color="#3A0470">light area</font> и выберем наиболее удачный угол освещения. 
            Дальше тоже можно поэкспериментировать. 
            В настройках света можно изменять <font color="#3A0470">форму источника освещения</font> (ищем параметр <font color="#3A0470">shape</font>), 
            а также его <font color="#3A0470">размер (size X и Y)</font>, <font color="#3A0470">силу (power)</font> и <font color="#3A0470">цвет (color)</font>.
        </p>
        <p class="p1">
            Специально для магического шара можно создать point light, выставив его перед метаболлами, создавая видимость свечения.
        </p>
        <p class="p1">
            Ну и в блоке <font color="#3A0470">shading</font> переключаемся с <font color="#3A0470">object</font> 
            на <font color="#3A0470">world</font> и меняем цвет освещения, 
            либо подключаем карту окружения через добавление <font color="#3A0470">environment texture</font>.
        </p>
        <p class="i1"><img src="knight_46.png" width="50%"></p>
        <p class="p1">
            Теперь осталось лишь зайти в <font color="#3A0470">render properties</font> и настроить рендер. 
            В данном случае советуется установить в 
            качестве render <font color="#3A0470">engine</font> – <font color="#3A0470">cycles</font>, включить <font color="#3A0470">denoise</font>, 
            в <font color="#3A0470">film</font> выбираем <font color="#3A0470">transparent</font> и <font color="#3A0470">look</font> переключаем на <font color="#3A0470">high contrast</font>. 
            В добавок к этому необходимо, чтобы плоскость, на которой расположена наша моделька, выглядела в лучшем свете. 
            С этой целью зайдём в <font color="#3A0470">object properties</font> и подключим <font color="#3A0470">shadow catcher</font>. Теперь переходим в <font color="#3A0470">composing</font>. 
            Добавляем блок <font color="#3A0470">Mix</font> и <font color="#3A0470">image</font>. 
            В блоке <font color="#3A0470">image</font> выбираем фон и соединяем <font color="#3A0470">mix</font> и <font color="#3A0470">image</font>.
        </p>
        <p class="i1"><img src="{% static 'main/images/knight_47.png' %}" width="50%"></p>
        <p class="i1"><img src="{% static 'main/images/knight_48.png' %}" width="50%"></p>
        <p class="p2">
            А теперь рендерим нашу композицию!
        </p>
        <p class="i1"><img src="{% static 'main/images/knight_49.png' %}" width="50%"></p>
        <p class="p3">В начало</p>

        <div class="div6">
            <p class = "p5">
                Возможностью рассказать о создании модели данного рыцаря создатели этого сайта обязаны онлайн-школе 3d-моделирования Knower School. 
                Там можно найти обучающие видео по этой и другим моделям с преподавателями высокого уровня и поддержкой для участников курсов. 
                Если вас заинтересовали наши туториалы, советуем обратить своё внимание на Knower School, Kaino university и Art and shock school.
            </p>
            <p class="p6">
                WebWizards 2024
            </p>    
        </div>
    </div>
    
</body>
</html>